{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}
    <h1>Editer un voyage</h1>

    {{ include('av_voyage/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('av_voyage/_delete_form.html.twig') }}

    <a href="{{ path('app_voyage_index') }}">retour à l'index</a>

{% endblock %}
