{% extends 'base.html.twig' %}

{% block title %}New AvVoyage{% endblock %}

{% block body %}
    <h1>Create new AvVoyage</h1>

    {{ include('av_voyage/_form.html.twig') }}

    <a href="{{ path('app_voyage_index') }}">back to list</a>
{% endblock %}
