{% extends 'base.html.twig' %}

{% block title %}Nouveau voyage{% endblock %}

{% block body %}
    <h1>Créer un nouveau voyage</h1>

    {{ include('av_voyage/_form.html.twig') }}

    <a href="{{ path('app_voyage_index') }}">retour à l'index</a>
{% endblock %}
