<form method="post" action="{{ path('app_av_image_delete', {'id': av_image.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette image ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ av_image.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
