{% extends 'base.html.twig' %}

{% block title %}Edit AvImage{% endblock %}

{% block body %}
    <h1>Modification</h1>

    {{ include('av_image/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    {{ include('av_image/_delete_form.html.twig') }}
    
    <a href="{{ path('app_av_image_index') }}">retour à la liste</a>

    
{% endblock %}
